@import '~antd/dist/antd.less';

* {
    font-family: @font-family;
}

@mainColor: #13227a;
@white: #fff;

.rs-header {
    background: @white !important;
    box-shadow: @shadow-1-down;
    display: flex;
    z-index: 100;

    .logo {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        color: @mainColor;
        text-transform: capitalize;

        img {
            margin-right: 16px;
            height: 32px;
        }
    }
    .user-avatar {
        margin-left: auto;
        font-size: 24px;
    }
}

.rs-home {
    .home-banner {
        min-height: calc(100vh - 64px);
        background: linear-gradient(
                rgba(255, 255, 255, 0.6),
                rgba(255, 255, 255, 0.7)
            ),
            url(./assets/images/bg-01.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 25vh 15%;
    }
    .home-feature,
    .home-about {
        .section-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
    }

    .home-feature {
        background: @white;
        img {
            width: 100%;
            filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.16))
                drop-shadow(0 3px 6px rgba(0, 0, 0, 0.12))
                drop-shadow(0 5px 12px rgba(0, 0, 0, 0.09));
            transition: 0.3s linear;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .home-about {
        .about-card {
            background: @white;
            box-shadow: @shadow-1-down;
            padding: 0 20px;
            margin: 40px 0;
            .about-desc {
                display: flex;
                align-items: center;
            }
            .about-img {
                padding: 20px;
                display: flex;
                justify-content: center;
                img {
                    width: 100%;
                    max-width: 350px;
                }
            }
        }
    }
}

.rs-login {
    background: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.8)
        ),
        url(./assets/images/bg-02.jpg) no-repeat !important;

    .rs-content {
        margin: 18px 18px 0 18px;
        background: @white;
    }
}

.rs-find-password {
    background: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.8)
        ),
        url(./assets/images/bg-03.jpg) no-repeat !important;
}

.rs-user-info {
    background: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.8)
        ),
        url(./assets/images/bg-04.jpg) no-repeat !important;
}

.rs-login,
.rs-find-password,
.rs-platform,
.rs-user-info {
    min-height: calc(100vh - 64px) !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
}

.rs-sider-right {
    padding: 30px 20px;

    .ant-list-items {
        max-height: 60vh;
        overflow: auto;
    }
}

.rs-platform .rs-content {
    padding: 30px 20px 0;
}

.rs-target-extraction,
.rs-object-detection,
.rs-change-detection,
.rs-feature-classification {
    padding: 20px;
    height: 100%;
    background: @white;
    box-shadow: @shadow-1-down;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rs-footer {
    padding: 16px 50px !important;
    text-align: center;
    background: transparent !important;
}
.rs-image-canvas {
    height: 100%;
    width: 100%;

    .canvas-display {
        width: 100%;
        height: calc(100% - 42px);
        box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.16);
        margin-bottom: 10px;
    }
    .scale-btn {
        text-align: center;
    }
}

.rs-change-detection {
    .change-slider {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        .ant-slider {
            width: 160px;
            margin-left: 18px;
        }
    }
    .rs-image-canvas {
        .canvas-display {
            height: calc(100% - 84px);
        }
    }
}

.rs-color-picker {
    .picker-swatch {
        padding: 5px;
        background: @white;
        border-radius: 1px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
        display: inline-block;
        cursor: pointer;
        margin-right: 10px;

        .picker-color {
            width: 36px;
            height: 14px;
            border-radius: 2px;
        }
    }

    .picker-popover {
        position: absolute;
        z-index: 2;

        .picker-cover {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

.rs-file-uploader {
    height: 100%;
    padding: 16px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.16);
}
